<form (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="inputNome" class="form-label">Nome</label>
    <input type="text" class="form-control" id="inputNome" name="nome" [(ngModel)]="model.nome" >
  </div>
  
  <div class="mb-3">
    <label for="inputEmail" class="form-label">Email</label>
    <input type="email" class="form-control" name="email" id="inputEmail" [(ngModel)]="model.email" >
  </div>

  <div class="mb-3">
    <label for="inputTel" class="form-label">Telefone</label>
    <input type="tel" class="form-control" name="tel" id="inputTel" [(ngModel)]="model.telefone">
  </div>

  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>